<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-warning">
                    <h5>Department List</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-end align-items-center">
                            <div class="form-outline me-2">
                                <input type="search" [(ngModel)]="searchText" class="form-control" placeholder="Search" aria-label="search"/>
                              </div>
                          <button class="btn btn-success mr-2" (click)="addNew()">Add New</button>
                          <button class="btn btn-primary" *ngIf="!isEdit()" (click)="onEdit()">Edit</button>
                          <button class="btn btn-warning mr-2" *ngIf="isEdit()" (click)="bulkUpdate()">Bulk Update</button>
                          <button class="btn btn-secondary" *ngIf="isEdit()" (click)="onCancel()">Cancel</button>
                        </div>
                      </div>                      
                    <table class="table table-hover table-striped table-bordered text-center align-middle">
                        <thead class="table-dark">
                            <tr>
                                <th>Sr No</th>
                                <th>Department Name</th>
                                <th>Department Logo Url</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of departmentList | filter: searchText; let i = index">
                                <td>{{ i + 1 }}</td>
                                <td>
                                    <div *ngIf="isEdit()">
                                        <input type="text" [(ngModel)]="item.departmentName" class="form-control" />
                                    </div>
                                    <div *ngIf="!isEdit()">
                                        {{item.departmentName}}
                                    </div>
                                </td>
                                <td>
                                    <div *ngIf="isEdit()">
                                        <input type="text" [(ngModel)]="item.departmentLogo" class="form-control" />
                                    </div>
                                    <div *ngIf="!isEdit()">
                                        {{item.departmentLogo}}
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <button type="button" class="btn btn-sm btn-danger" (click)="onDelete(item.departmentId)">
                                            <i class="bi bi-trash"></i> Delete
                                        </button>
                                    </div>
                                   
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </div>
</div>