<div class="container">
    <div class="row">
            <div class="col-8">
                <div class="card">
                    <div class="card-header bg-warning">
                        <h5>Project Employee List</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-end">
                                <div class="col-3">
                                    <input type="search" [(ngModel)]="searchText" class="form-control" placeholder="Search" aria-label="search"/>
                                </div>
                            </div>
                        </div>                         
                        <table class="table table-hover table-striped table-bordered text-center align-middle">
                            <thead class="table-dark">
                                <tr>
                                    <th>Emp Project ID</th>
                                    <th>Project ID</th>
                                    <th>Employee Name</th>
                                    <th>Assigned Date</th>
                                    <th>Role</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let item of projectEmployeeList() | filter: searchText; let i = index">
                                    <tr>
                                        <td>{{ i + 1 }}</td>
                                        <td>{{ item.projectName }}</td>
                                        <td>{{ item.employeeName }}</td>
                                        <td>{{ item.assignedDate | date: 'MM/dd/yyyy' }}</td>
                                        <td>{{ item.role }}</td>
                                        <td>
                                            <button type="button" class="btn btn-sm btn-primary me-2" (click)="onEdit(item)">
                                                <i class="bi bi-pencil-square"></i> Edit
                                            </button>
                                            <button type="button" class="btn btn-sm btn-danger" (click)="onDelete(item.empProjectId)">
                                                <i class="bi bi-trash"></i> Delete
                                            </button>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                                
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-header bg-warning">
                        <h5>Add Project Employee</h5>
                    </div>
                    <div class="card-body">
                        <form class="mb-4" [formGroup]="form">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="projectId" class="form-label">Project ID</label>
                                    <select class="form-select" formControlName="projectId">
                                        <option [value]="">Select Project</option>
                                        <ng-container *ngFor="let item of projectList$ | async; let i = index">
                                            <option [value]="item.projectId">{{item.projectName}}</option>
                                        </ng-container>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label for="empId" class="form-label">Employee ID</label>
                                    <select class="form-select" formControlName="empId">
                                        <option [value]="">Select Employee</option>
                                        <ng-container *ngFor="let item of empList$ | async; let i = index">
                                            <option [value]="item.employeeId">{{item.employeeName}}</option>
                                        </ng-container>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <label for="assignedDate" class="form-label">Assigned Date</label>
                                    <input type="date" class="form-control" formControlName="assignedDate" id="assignedDate">
                                </div>
                                <div class="col-md-5">
                                    <label for="roleProjectEmployee" class="form-label">Role</label>
                                    <input type="text" class="form-control" formControlName="role" id="roleProjectEmployee" placeholder="Enter role">
                                </div>
                                <div class="col-md-2">
                                    <label for="Status" class="form-label">Status</label>
                                    <input type="checkbox" formControlName="isActive" id="isActive">
                                </div>
                            </div>
                        
                            <!-- Use *ngIf for conditional rendering -->
                            <button type="button" class="btn btn-success mt-3" *ngIf="form.get('empProjectId')?.value === 0" (click)="onSave()">Submit</button>
                            <button type="button" class="btn btn-warning mt-3" *ngIf="form.get('empProjectId')?.value !== 0" (click)="onUpdateProjectEmp()">Update</button>
                            <button type="button" class="btn btn-primary mt-3 ml-2" *ngIf="form.get('empProjectId')?.value !== 0" (click)="onCancel()">Cancel</button>

                        </form>
                                
                    </div>
                </div>
            </div>
        </div>
        </div>